.header {
    min-height: 127px;
    max-height: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(6px);
    position: fixed;
    width: 100%;
    z-index: 20;
    font-family: HumaneLight;
    font-size: 36px;
    &__logo {
        width: 67px;
        height: auto;
        position: relative;
        cursor: pointer;
        & img {
            height: 100%;
            width: 100%;
        }
    }
    &__menu {
        width: 48;
        height: auto;
        cursor: pointer;
        & img {
            height: 100%;
            width: 100%;
        }
    }
    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        * > {
            cursor: pointer;
        }
    }
    & ul {
        display: flex;
        flex-direction: row;
        position: relative;
        & > * {
            position: relative;
        }
        * + * {
            margin-left: 24px;
        }
        a {
            color: black;
        }
    }
}
