.wrapper {
    overflow: auto;
    position: relative;
    align-items: center;
}

.raiting_layout {
    height: max-content;
    margin: 0 auto;
    width: 50%;
}
.raiting_container {
    width: 100%;
}
.buttons {
    & > * {
        transition: 0.2s all ease-in-out;
        width: 50%;
    }
}
