.raiting_layout {
    height: max-content;
    margin: 0 auto;
    width: 50%;
}
.raiting_container {
    width: 100%;
}
.buttons {
    & > * {
        transition: 0.2s all ease-in-out;
        width: 50%;
    }
}

.items .item-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.items .item-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 500ms;
}

.items .item-exit {
    opacity: 1;
    transform: translateX(0%);
}

.items .item-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all 500ms;
}
