.wrapper {
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    @media (max-width: 580px) {
        max-width: 580px !important;
    }
    & .backGround {
        background: url("../assets/images/railings.svg") no-repeat 50% 100%;
        width: 100%;
        height: 100%;
        @media (min-width: 1025px) and (max-width: 1537px) and (-webkit-min-device-pixel-ratio: 1.25) {
            zoom: 0.75;
        }
        @media (max-width: 1024px) {
            background: url("../assets/images/railings.svg") no-repeat 50% 100%;
            width: 100%;
            background-size: cover;
        }
        @media (max-width: 580px) {
            background-size: 500% 50%;
            // background-size: contain;
            // width: 50%;
            transform: translateZ(40px);
        }
    }
    & .main {
        position: absolute;
        cursor: pointer;
        z-index: 4;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & > * {
            @media (max-width) {
            }
            width: 100%;
            height: 100%;
            pointer-events: none;
            max-height: 70vh;
            @media (min-width: 1025px) and (max-width: 1537px) and (-webkit-min-device-pixel-ratio: 1.25) {
                zoom: 0.75;
            }
        }
    }
}
