.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4%;
    row-gap: 36px;
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, auto);
    }
}
.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    & > * {
        // flex: auto;
        width: 34%;
    }
}
