.default {
    transition: 0.2s;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: HumaneMed;
    letter-spacing: 2px;
    line-height: 80%;
    padding: 14px 24px;
    &:disabled {
        opacity: 0.6;
    }
}
