/* Webfont: Humane-Thin */
@font-face {
    font-family: "Bold";
    src: url("TTDirectors-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
